*{
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', Courier, monospace;
}

html{
    background-color: #DDDDDD;
}

header{
    background-color: #059BF2;
    color: #DDDDDD;
    font-size: 20px;
    letter-spacing: 0.5dvh;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1dvh;
}

header div{
    display: flex;
    font-size: 30px;
    gap: 4vh;
}

#busca{
    padding: 0.4%;
    width: 20%;
    background-color: #A8A8A8;
    border-radius: 50px;
    border: 0;
}

#busca:focus{
    border: 0 none;
    outline: 0;
}

main div{
    padding: 2%;
}